/****** Script for SelectTopNRows command from SSMS  ******/
CREATE TABLE Products (
    ProductID varchar(10),
    ProductName nchar(50),
	ProductCountry nchar(20),
	ProductBrand varchar(20),
	ProductKind varchar(20),
	ProductAmount int,
	DateIn date,
	Price int,
);

select * from Products

insert into Products values ('L101' ,'Asus Tuf 15','USA','Asus','laptop',15,GETDATE(),799);
insert into Products values ('G102' ,'RTX 2060 ti 6GB','PhanLan','MSI','Card man hinh',20,GETDATE(),259);
insert into Products values ('G101','RTX 1660 ti 4GB','USA','Gigabyte','Card man hinh',15,GETDATE(),150);

DELETE FROM Products WHERE ProductID like '%G%';

UPDATE Products SET ProductName = '' , ProductCountry = '', DateIn = ('2/20/2000') where ProductID = 15;

DELETE FROM Products WHERE ProductID = 'L101';